
.container{
  display: inline-block;
  padding:2px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;;
  background-color:white;
  text-align: center;
  justify-content: space-evenly;
}
.abc{
  padding:2px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;;
  background-color:pink;
  text-align: center;
  justify-content: space-evenly;
}

img{
  width: 300px;
  object-fit: contain;
 display: inline-block;
 text-align: center;
 height: 250px;
}
h4{
  color: red;
}
h5{
  color:blue
}
